<%- include('partials/header.ejs') %>

    
   <h1>Table Results</h1>
   <h2>I'm in admins</h2>
    
   <% 
       //displaying five keywords per line
      rows.forEach(function(row, i){ %>
       
        <%= row["id"] %>  <%= row["username"] %> <%= row["password"]%> <br>
    
    <% });%>


<%- include('partials/footer.ejs') %>
